package Views

import "server/server/web/layouts"
import "server/server/web/partials"

templ Login(redirectUrl string) {
	@layout.Base("Login") {
		@partials.LoginForm(redirectUrl)
	}
}

templ CreateAccount(redirectUrl string) {
	@layout.Base("Create Account") {
		@partials.CreateAccountForm(redirectUrl)
	}
}